* {
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3px 10px;
  font-family: sans-serif;
  background-color: black;
}

.header .logo-titulo a {
  color: #9456e5;
  font-weight: bold;
  font-size: 20px;
}

.header .logo-titulo img {
  width: 50px;
  height: 40px;
}

.logo,
.foto-perfil {
  height: 3rem;
}

.left {
  gap: 5rem;
}

.left a {
  text-decoration: none;
}

.form input {
  background-color: #000000;
  border: none;
  border-bottom: 1px solid white;
  outline: none;
}

.items {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.items li {
  list-style: none;
}

.items a {
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.3s ease;
}

.items a:hover {
  color: #ee660c;
}

.items .color a {
  color: #ffffff;
}

.items .home a {
  color: #ee660c;
}

.right {
  gap: 1rem;
}

.foto-perfil {
  border-radius: 50%;
}

.left a,
.form i,
input {
  color: #ffffff;
}

.header a {
  font-size: 0.9rem;
}

.form ::placeholder {
  position: relative;
  bottom: 2px;
}

@media screen and (width < 860px) {
  .items {
    
  }
}

@media screen and (width < 770px) {
  .items {
    transform: translate(-50%);
    gap: 1rem;
  }
  .items li {
    margin-top: 40px;
  }
  .header {
    padding: 5px 8px;
  }
  .header .logo-titulo a {
    font-size: 15px;
  }

  .header .logo-titulo img {
    width: 35px;
    height: 25px;
  }

  .items a {
    font-size: 13px;
  }
  .logo,
  .foto-perfil {
    height: 2rem;
  }
  .form input {
    width: 120px;
  }
  .form i{
    font-size: 0.8rem; 
}
  .form ::placeholder {
    position: relative;
    bottom: 2px;
    font-size: 12px;
  }
}

@media screen and (width < 430px) {
  .header {
    padding: 5px 5px;
  }
  .header .logo-titulo a {
    font-size: 13px;
  }

  .header .logo-titulo img {
    width: 30px;
    height: 20px;
  }

  .items a {
    font-size: 11px;
  }

  .logo,
  .foto-perfil {
    height: 1.7rem;
  }

.form i{
    font-size: 0.7rem; 
}

  .form input {
    width: 80px; 
  }

  .form ::placeholder {
    position: relative;
    bottom: 2px;
    font-size: 11px;
  }
}
