* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

body {
    background-image: url(./Proyecto/Images/Background.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}

.logo {
    height: 30px;
}

.titulo {
    color: rgb(255, 255, 255);
    font-size: 20px;
}

.tit_sub {
    font-size: 15px;
}

.boton {
    background-color: rgb(248, 123, 20);
    width: 180px;
    height: 40px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
    transition-timing-function: ease;
    color: white;
}

.link {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.link2 {
    text-decoration: underline;
    margin-left: 5px;
    color: white;
}

.contenedor {
    height: 900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.box.subbox {
    width: 250px;
    display: flex;
    flex-direction: row;
    gap: 3px;
    padding-right: 20px;
}

.link2:hover {
    color: red;
}

.boton:hover {
    scale: 1.05;
    background-color: rgb(255, 98, 0);
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
}