* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
}

html,
body {
  height: 100vh;
  background-image: url(/Proyecto/Images/vistaLogin.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}


.logo-header {
  width: 50px;
}

.link {
  color: #000000;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1px;
  color: #ff6600;
}

.link.sesion:hover {
  text-decoration: underline;
}

.header {
  padding: 10px 30px 10px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5rem;
}

.link.logo {
  font-size: 20px;
}

.titulo.sub2 {
  font-size: 20px;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}


.box {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.subtitulo.sub2 {
  font-weight: lighter;
  padding-bottom: 20px;
  color: white;
  font-size: 15px;
}

.campos {
  height: 400px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.input {
  padding-left: 10px;
  height: 45px;
  border: 1px solid #0000001d;
  transition: 0.6s ease;
  border-radius: 5px;
  width: 350px;
}

.boton {
  margin-top: 15px;
  height: 45px;
  background-color: #ff6600;
  border: none;
  border-radius: 7px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  font-size: 15px;
  width: 350px;
}

.input:focus {
  outline: none;
  border: 1px solid orange;
}

.boton:focus {
  background-color: rgb(255, 150, 44);
}

.buttonDiv {
  display: flex;
  justify-content: center;
  align-content: center;
}

.titulo-subtitulo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

@media screen and (width < 500px) {
  header .logo-header {
    width: 30px;
  }

  header .link {
    font-size: 12px;
  }

  .box {
    font-size: 12px;
    justify-content: center;
  }

  .subtitulo.sub2 {
    font-size: 11px;
  }

  .input {
    height: 40px;
    width: 280px;
  }

  .boton {
    height: 40px;
    font-size: 13px;
    width: 280px;
  }

  .input::placeholder {
    font-size: 10px;
  }
}