* {
  margin: 0;
  padding: 0;
}

header {
  font-family: "Roboto", serif;
  font-size: 12px;
  font-weight: bold;
  color: #ffffff;
  width: 100%;
  height: 100%;
  background-color: #000000;
  margin-left: 0; 
  margin-right: 0;
}


nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

nav .logo img {
  width: 25%;
}

nav .logo ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  list-style: none;
}

nav .logo ul li {
  padding: 2px 15px;
}

nav .logo ul a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
}

nav .logo ul i {
  color: #ffffff;
  padding: 3px;
  font-weight: bold;
}

.logo ul i:hover {
  color: #ee660c;
  cursor: pointer;
}

.logo li .inicio {
  color: #ee660c;
}

.color:hover {
  color: #ee660c;
}

.logo li a i:hover {
  color: #ee660c;
}

.ul-second {
  display: none;
  position: absolute;
  background-color: #000000;
  padding: 0;
  margin-top: 3px;
  list-style: none;
  color: #000000;
  border-radius: 3%;
}

.generos:hover .ul-second {
  display: block;
}

.generos {
  list-style: none;
  position: relative;
  height: 100%;
  --clip: polygon(0 0, 100% 0, 100% 0, 0 0);
  margin-bottom: 1%;
}

.ul-second {
  clip-path: var(--clip);
}

.generos:hover {
  --clip: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.generos-items {
  margin-bottom: 20px;
}

nav .buscar-pelicula {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buscar-pelicula input {
  padding: 3px 0px;
  background-color: #000000;
  border: none;
  outline: none;
  color: #ffffff;
  margin-right: 30px;
}

.buscar-pelicula input::placeholder {
  color: #ffffff;
  font-weight: lighter;
}

.buscar-pelicula i {
  color: #ffffff;
  margin-left: 20px;
}

.buscar-pelicula .linea-buscar {
  background: #000000;
  border-bottom: 1.5px solid #ffffff;
  margin-right: 20px;
  margin-bottom: 10px;
}

.buscar-pelicula img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-right: 10px;
}

@media screen and (width < 1000px) {
  header {
  margin-left: 30px;
}
}

@media screen and (width < 750px) {
  
  header{
    font-size: 9px;
  }
  nav .logo img {
    width: 18%;
    margin-right: 15px;
  }
  nav .logo ul li {
    padding: 1px 10px;
  }
  .generos {
    margin-bottom: 0.5%;
  }
  .buscar-pelicula input {
    padding: 2px 0px;
    margin-right: 20px;
  }
  
  .buscar-pelicula i {
    margin-left: 0px;
  }
  
  .buscar-pelicula .linea-buscar {
    background: #000000;
    border-bottom: 1.5px solid #ffffff;
    margin-right: 0px;
  }
  
  .buscar-pelicula input::placeholder {
    font-size: 9px;
  }
  .buscar-pelicula img {
    width: 25px;
    height: 25px;
    margin-left: 20px;
  }
  
}

@media screen and (width < 630px) {
  .buscar-pelicula .linea-buscar {
    width: 100px;
  }
  .buscar-pelicula input::placeholder {
    font-size: 8px;
    margin-top: 20px;
  }
  .buscar-pelicula input {
    width: 60px; 
    margin-top: 5px;
  }
  .buscar-pelicula i {
    margin-top: 5px;
    margin-left: 7px;
  }
  .generos {
    margin-bottom: 0.3%;
  }
}

@media screen and (width < 440px) {
  header{
    font-size: 6px;
  }
  nav .logo img {
    width: 14%;
    margin-right: 12px;
  }
  .buscar-pelicula input::placeholder {
    font-size: 6px;
  }
  .buscar-pelicula img {
    width: 20px;
    height: 20px;
    margin-left: 15px;
  }
  .buscar-pelicula .linea-buscar {
    width: 70px;
  }
  
  .buscar-pelicula input {
    width: 30px; 
    margin-top: 5px;
  }
  .buscar-pelicula i {
    margin-top: 5px;
    margin-left: 7px;
  }
  .generos {
    margin-bottom: 0.2%;
  }
}
