body {
  background-image: url(vistaLogin.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
}

.wrapper {
  width: 320px;
  background-color: #00000068;
  border: 2px solid #ffffff33;
  color: #808080;
  border-radius: 20px;
  padding: 10px 30px;
  
}

.wrapper h1 {
  font-size: 36px;
  text-align: center;
}

.wrapper .input-box {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px 0;
}

.input-box input {
  width: 100%;
  height: 85%;
  background-color: #b1acac;
  border: none;
  outline: none;
  border: 1px solid #ffffff33;
  border-radius: 10px;
  font-size: 14px;
  color: #000000;
}

.input-box input::placeholder {
  color: #808080;
}

.input-box i {
  position: absolute;
  right: 10px;
  top: 30%;
  transform: translate(-30%);
}

.wrapper .remember-forgot {
  display: flex;
  justify-content: space-between;
  font-size: 14.5px;
  margin: -15px 0 15px;
}

.remember-forgot label input {
  accent-color: #ffffff;
  margin-right: 3px;
}

.remember-forgot a {
  color: #ffffff;
  text-decoration: none;
}

.remember-forgot a:hover {
  text-decoration: underline;
}

.wrapper .btn {
  width: 100%;
  height: 50px;
  background: #9456e5;
  border: none;
  outline: none;
  border-radius: 10px;
  color: #ffffff;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
}

a{
    text-decoration: none;
}

.wrapper .register-link {
  font-size: 14.5px;
  text-align: center;
  margin-top: 20px;
  margin: 25px 0 20px;
}

.wrapper  .inicio-link{
  font-size: 14.5px;
  text-align: center;
  margin-top: 20px;
  margin: 25px 0 20px;
}

.inicio-link p a{
  color: #ee660c;
  text-decoration: none;
  font-weight: 600;
}
.register-link p a {
  color: #ee660c;
  text-decoration: none;
  font-weight: 600;
}
.inicio-link p a:hover {
  text-decoration: underline;
}

.register-link p a:hover {
  text-decoration: underline;
}

.btn{
    cursor: pointer;
    font-size: 15px;
    text-decoration: none;
}


h1 {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
}

p {
  color: #ffffff;
}

p2 {
  color: #ffffff;
}

a {
  color: #ffffff;
}
