* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
    list-style: none;
}

body {
    height: 100vh;
    background-color: black;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.5rem 0;
    flex-wrap: wrap;

}

.logo {
    display: flex;
    align-items: center;
}

.nav-bar ul {
    display: flex;
    gap: 3rem;
    margin: 0 5rem;
    flex-wrap: wrap;
}

.nav-bar ul a {

    color: white;
    padding: 0.5rem;
    border-radius: 15px;
}

.nav-bar ul a:hover {
    border: 1px solid white;
}

.logo img,
.perfil img {
    height: 3rem;
}

.nav-right {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.nav-right .perfil img {
    border-radius: 50%;
}

.input {
    position: relative;
}

.input input {
    height: 1.5rem;
    background-color: rgb(0, 0, 0);
    outline: none;
    border: none;
    border-bottom: 1px solid white;
}

.input input::placeholder {
    color: white;
}

.search i {
    color: white;
}

.search {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 3px;
}

.main {
    background-image: url(../img/portada.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.grilla {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 2rem 5rem;
    width: fit-content;
}

.grilla--titulo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.grilla--peliculas {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    justify-content: center;
}

.pelicula {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.grilla a {
    color: white;
    text-decoration: none;
}

.grilla a:hover {
    text-decoration: underline;
}

.grilla--peliculas img {
    height: 12rem;
    border-radius: 0.3rem;
}

.grilla--titulo h2 {
    color: white;
}

.pelicula img:hover {
    transition: 3ms;
    transform: translateY(-5px);
}


@media (max-width:800px) {
    header {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding: 0 2rem;
    }

    .nav-bar ul {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        justify-content: center;
        padding: 0.3rem 0;
    }

    .nav-bar ul a:hover {
        text-decoration: underline;
        border: none;
    }

}

@media (max-width:600px) {
    header {
        padding: 1rem;
    }

    .input input {
        display: none;
    }

    .search {
        position: static;
    }

    .nav-right {
        gap: 1rem;
    }
}

@media screen and (max-width:785px) {

    .form input {
        display: none;
    }

    .grilla {
        width: 100%;
    }

    .grilla--peliculas {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width:450px) {}

.grilla {
    width: 90%;

}

.grilla--titulo {
    margin: 0 1rem;
}

.grilla--peliculas {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    width: 100%;
}

.pelicula img {
    height: 10rem;
}