* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html,
body {
    height: 100vh;
    background-color: black;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3px 10px;
}

.logo,
.foto-perfil {
    height: 3rem;
}

.left {
    gap: 5rem;
}

.left a {
    text-decoration: none;
}

.nav a:hover {
    text-decoration: underline;
}

.nav ul li {
    list-style: none;
}

.nav ul {
    display: flex;
    gap: 3rem;
}

.form input {
    background-color: #000000;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
}

.right {
    gap: 1rem;
}

.foto-perfil {
    border-radius: 50%;
}

.left a,
.form i,
input {
    color: #ffffff;
}

.header a {
    font-size: 0.9rem;
}

.form ::placeholder {
    position: relative;
    bottom: 2px;
}

.main {
    background-image: url(../img/portada.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.grilla {
    width: fit-content;
    gap: 0.5rem;
    padding-bottom: 2rem;
}

.grilla--titulo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1rem;
}

.grilla--peliculas {
    display: flex;
    gap: 1rem;
}

.pelicula {
    display: flex;
    flex-direction: column;
    text-align: center;

}

.grilla a {
    color: white;
    text-decoration: none;
}

.grilla a:hover {
    text-decoration: underline;
}

.grilla--peliculas img {
    height: 15rem;
    border-radius: 0.3rem;
}

.grilla--titulo h2 {
    color: white;
}

.footer {
    height: 15%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
}

.footer a {
    color: white;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

.footer i {
    color: white;
}

.footer--derechos-reservados {
    display: flex;
    align-items: center;
    gap: 0.7rem;
}

.footer--derechos-reservados h2 {
    font-size: 1rem;
    color: #ffffff;
}

.footer--icons,
.footer--condiciones {
    padding-bottom: 0.5rem;
}

.footer--icons i,
.footer--condiciones a {
    padding-left: 1rem;
}

.pelicula img:hover{
    transition: 3ms ;
    transform: translateY(-5px);
}

.dropdown{
    display: flex;
    flex-direction: column;
}



@media screen and (max-width:1000px) {


}
@media screen and (max-width:1440px) {

    
    .grilla--peliculas img {
        height: 9rem;
    }
}

@media screen and (width < 600px) {
    /* .grilla--peliculas {
 
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        box-sizing: border-box;
    } */
    .main {
        height: auto;
        margin-top: 2em;
    }
    .grilla--peliculas {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .grilla--peliculas img {
        height: auto;
        max-width: 100%;  
    }

    .grilla--peliculas img {
        height: 20rem; 
        margin-bottom: 20px; 
    }
    .grilla--peliculas .pelicula{
        margin-top: 20px;
    }
    .main {
        /* margin-top:  93.75rem;  */
        background-image: none;
    }
}
