* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html,
body {
    height: 100vh;
    background-color: black;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3px 10px;
}

.logo,
.foto-perfil {
    height: 3rem;
}

.left {
    gap: 5rem;
}

.left a {
    text-decoration: none;
}

.nav a:hover {
    text-decoration: underline;
}

.nav ul li {
    list-style: none;
}

.nav ul {
    display: flex;
    gap: 3rem;
}

.form input {
    background-color: #000000;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
}

.right {
    gap: 1rem;
}

.foto-perfil {
    border-radius: 50%;
}

.left a,
.form i,
input {
    color: #ffffff;
}

.header a {
    font-size: 0.9rem;
}

.form ::placeholder {
    position: relative;
    bottom: 2px;
}

.main {
    background-image: url(../img/portada.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.grilla {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 2rem 5rem;
    width:fit-content;
}

.grilla--titulo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom:  1px solid #ffffff64;
}

.grilla--peliculas {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    justify-content: center;
}

.pelicula {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.grilla a {
    color: white;
    text-decoration: none;
}

.grilla a:hover {
    text-decoration: underline;
}

.grilla--peliculas img {
    height: 12rem;
    border-radius: 0.3rem;
}

.grilla--titulo h2 {
    color: white;
}

.footer {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
}

.footer a {
    color: white;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

.footer i {
    color: white;
}

.footer--derechos-reservados {
    display: flex;
    align-items: center;
    gap: 0.7rem;
}

.footer--derechos-reservados h2 {
    font-size: 1rem;
    color: #ffffff;
}

.footer--icons,
.footer--condiciones {
    padding-bottom: 0.5rem;
}

.footer--icons i,
.footer--condiciones a {
    padding-left: 1rem;
}

.pelicula img:hover {
    transition: 3ms;
    transform: translateY(-5px);
}

.dropdown {
    display: flex;
    flex-direction: column;
}

@media screen and (max-width:768px) {

    .form input{
        display: none;
    }

    .grilla{
        width: 100%;
    }

    .grilla--peliculas {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width:450px) {
    .grilla{
        width: 80%;

    }
    .grilla--titulo{
        margin: 0 1rem;
    }
    .grilla--peliculas {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        width: 100%;
    }
    .pelicula img {
        height: 10rem;
    }
}