* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.nav img {
  height: 3rem;
}

body{
  height: 100%;
  width: 100%;
  background-color: #000000;
  color: #ffffff;
}


main{
  width: 100%;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  border-bottom: 1px solid #0000003a;
}

.nav--left,
.list--item,
.nav--right {
  display: flex;
  align-items: center;
}

.list--item {
  gap: 5rem
}

.list--item a,
.nav--left a {
  text-decoration: none;
  color: black;
}

.list--item li {
  list-style: none;
}

.nav--center ul {
  padding: 0 5rem;
}

.input {
  position: relative;
}

.input input {
  outline: none;
  border: none;
  border-bottom: 1px solid #000000;
}

.input i {
  position: absolute;
  right: 0;
  bottom: 2px;
  cursor: pointer;
}

.nav--right {
  gap: 1rem;
}

.nav--right img {
  border-radius: 50%;
}

.nav--center ul li:hover {
  text-decoration: underline;
}

.contenedor {
  border: 1px solid #d6d3d33a;
  position: relative;

}

.contenedor--main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contenedor--main img {
  height: 10rem;
  border-radius: 50%;
  padding: 1rem;
}

.contenedor--datos {
  width:100% ;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-top: 1px solid #0000003a;

}

.contenedor--datos-1 {
  border: 1px solid #d6d3d33a;
  margin: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  height: fit-content;
  display: flex;
  flex-direction: column;
}

.contenedor--datos-1 span {
  padding: 0.5rem;
  text-align: center;
}

.nueva--contrasenia {
  display: flex;
  text-align: center;
}

input {
  color: #000000; 
}
input::placeholder {
  color: #4646463a; 
}


.contenedor--datos-2 {
  border: 1px solid #d6d3d33a;
  height: 400px;
  margin: 1rem;
  padding: 2rem;
  border-radius: 1rem;
}

.contenedor--datos-2 input{
  color: #000000;
}

.metodo--pago {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tarjeta-head,
.cupon-head,
.transferencia-head {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

.tarjeta input {
  border-radius: 5px;
  border: 1px solid #d6d3d33a;
  padding: 0.5rem;
}

.numero {
  width: 10rem
}
.metodo--pago--label,
.datos--titulo {
  font-size: 1.5rem;
  text-align: center;
  font-weight: bold;
}


.contenedor--datos-1 input {
  outline: none;
  border-radius: 0.3rem;
  border: 1px solid #d6d3d33a;
  padding: 0.3rem;
  margin: 1rem;
  color: #000000;
}

.tarjeta-composiciones,
.cupon--tipos,
.cbu {
  text-align: center;
}

.cupon--tipos {
  display: flex;
  justify-content: space-evenly;
}

input[type="radio"] {
  accent-color: #9456e5;
}
 
input[type="checkbox"] {
  accent-color: #ee660c;
}

.codigo {
  width: 5rem;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding-bottom: 1rem;
}

.buttons a {
  text-decoration: none;
  color: white;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}

.buttons button {
  border: none;
  height: 2.5rem;
  border-radius: 0.5rem;
  width: 13rem;
  background-color: #ff5100;
}

.button-confirmar a {
  border-radius: 0.5rem;
  background-color: #9456e5;
}

@media screen and (width<1024px) {

  .contenedor--datos{
    display: flex;
    flex-direction: column;
  }
  .list--item,.input input{
    display: none;
  }
  .input i{
    position: static;
  }
}

@media screen and (width <768px){
  .nueva--contrasenia{
    display: flex;
    flex-direction: column;
  }
  .buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .codigo{
    margin-top: 0.5rem;
  }
}

@media screen and (max-width: 570px) {

  .contenedor--datos-1, .contenedor--datos-2 {
    margin: 0.5rem;
    padding: 0.5rem;
  }

  .input i {
    position: static;
  }

  .codigo {
    margin-top: 0.5rem;
  }
}
