*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* overflow: hidden; */
}

footer a{
    text-decoration: none;
    color: #ffffff;
}
footer{
    background-color: #000000;
    font-family: 'roboto',sans-serif;
    font-weight: bold;
    color: #ffffff;
    font-size: 11px;
}

.footer-contenedor{
    width: 100%;
    height: auto;
}

.redes-icons{
    display: flex;
    justify-content: center;
}

.redes-icons i{
    color: #ffffff;
    font-size: 30px;
    padding: 15px;
    margin: 5px;
}

.redes-icons i:hover{
    cursor: pointer;
}

.condiciones{
    margin: 15px 0;
}

.condiciones ul{
    display: flex;
    justify-content: center;
    list-style: none;
}

.condiciones ul li p{
    margin: 10px;
    text-decoration: none;

}

.condiciones p:hover{
    cursor: pointer;
}

.copy{
    padding: 10px;
    text-align: center;
}

.copy p{
    font-size: 10px;
}

@media screen and (width < 376px) {
  footer{  
    font-size: 8px;
  }
  .copy p{
    font-size: 7px;
  }
  .redes-icons i{
    font-size: 20px;
    padding: 10px;
  }
}
